.DiaryEditor {
    border: 1px solid gray;
    text-align: center;
    padding: 20px;
}
.DiaryEditor input, textarea {
    width: 500px;
    padding: 10px;
    margin-bottom: 20px;
}
.DiaryEditor textarea {
    height: 150px;
    resize: none;
}
.DiaryEditor select {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
}
.DiaryEditor button {
    width: 500px;
    padding: 10px;
    cursor: pointer;
}

/* Item */
.DiaryItem {
    margin-bottom: 10px;
    padding: 20px;
    background: rgb(240,240,240);
}
.DiaryItem .info {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}